.back-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  background: none;
  color: #fff;
  border: none;
  font-size: 0.95rem; /* меньше размер */
  font-weight: 600;
  padding: 2px 0 4px 0; /* компактнее */
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0;
  outline: none;
  border-radius: 8px;
  transition: color 0.12s, background 0.11s;
  user-select: none;
}

.back-btn:active {
  color: #1be88c;
  background: none;
}

.back-btn:focus {
  color: #fff;
  background: none;
  outline: none;
  box-shadow: none;
}

.back-arrow {
  font-size: 1.07em;
  margin-right: 3px;
  display: inline-block;
  font-weight: 700;
}
