.cart-modal-title {
  text-align: center;
  font-size: 1.18rem;
  color: #86ffdc;
  font-weight: 700;
  margin-bottom: 14px;
}
.checkout-btn {
  background: #1be88c;
  color: #191b1e;
  border: none;
  border-radius: 11px;
  padding: 13px 0;
  font-size: 1.07rem;
  width: 100%;
  font-weight: 700;
  margin-top: 7px;
  cursor: pointer;
}
