body, html, #root {
  margin: 0;
  padding: 0;
  background: #131313;
  min-height: 100vh;
  font-family: 'Inter', 'Montserrat', 'Arial', sans-serif;
  color: #fff;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 8px;
}
