.news-title-main {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  margin: 22px 0 16px 16px;
}

.news-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px 8px;
  padding: 0 10px 14px 10px;
}

.news-card-simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-radius: 19px;
  overflow: visible;
  width: 176px;
  min-height: 244px;
  cursor: pointer;
}

.news-card-imgwrap {
  width: 100%;
  aspect-ratio: 1.2/1; /* чуть прямоугольнее */
  background: #222226;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 13px;
  box-shadow: 0 3px 16px #15181b0f;
}

.news-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.news-card-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-card-title {
  font-size: 1.11rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.18;
  margin-bottom: 4px;
  min-height: 36px;
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-card-content {
  font-size: 0.99rem;
  color: #b7ffec;
  text-align: center;
  line-height: 1.17;
  padding: 0 4px;
  min-height: 33px;
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
