.category-view-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0.5vw;
  padding-top: 0px !important;    /* нет отступа сверху */
  padding-bottom: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  background: #18161c;
}

.category-view-top-row {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 18px;
}

.back-btn {
  font-size: 1rem;
  background: none;
  color: #b5aafd;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
}
