.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 12px;           /* уменьшай gap для более плотной сетки */
  margin-top: 0;            /* убери отступ сверху */
  align-items: flex-start;  /* поднимет контент к верху */
}
.products-grid-empty {
  color: #b35;
  font-size: 1.1rem;
  padding: 40px 0 20px 0;
  text-align: center;
}
