.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 10px;  /* плотнее */
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.products-grid-empty {
  color: #b35;
  font-size: 1.1rem;
  padding: 32px 0 10px 0;
  text-align: center;
}
